<!-- <mat-toolbar color="primary" style="background-color: black; border-style: dashed;">
  <span><a href="/dash" style="color:#69f0ae;">Home</a></span>  <span id="spacer"></span>
  <span><a href="/trivia" style="color:#69f0ae;">Trivia</a></span> <span id="spacer"></span>
  <span><a href="/" style="color:#69f0ae;">Logout</a></span>
  </mat-toolbar> -->
  <div id="question-header" *ngIf="total !== 0">
    <h3>Question {{ questionNumber + 1  }}</h3>
    <h3 class="score">Score: {{ correctAnswers }}/{{ questionNumber }}</h3>
  </div>
  <div id="question-container">
    <ng-container *ngIf="question; else quizComplete">
      <p><b>{{ question.category }}</b></p>
      <label id="question-radio-group-label" [innerHTML]="question.question"></label>
      <mat-radio-group
      aria-labelledby="question-radio-group-label"
      class="question-radio-group"
      [disabled]="disableRadioButtons"
      [(ngModel)]="answer">
      <mat-radio-button  *ngFor="let answer of question.answers" [value]="answer" (change)="answerSelected($event)">
        {{answer.answer}}
      </mat-radio-button>
    </mat-radio-group>
  
      <div *ngIf="answer">
        <div *ngIf="answer.is_correct; else incorrect">
          <p>Correct!</p>
        </div>
        <ng-template #incorrect>
          <p>Wrong! The correct answer is {{ getCorrectAnswer() }}</p>
        </ng-template>
      </div>
      <button mat-flat-button color="primary" id="next-button" [disabled]="disableNextButton" (click)="getNextQuestion()">Next Question</button>
    </ng-container>
    <ng-template #quizComplete>
      <p>We're all out of questions!</p>
      <h3 class="score">Here is your final score: {{ correctAnswers }}/{{ questionNumber }}</h3>
      <ng-container *ngIf="correctAnswers >= 0.8; else failed">
        <button mat-flat-button color="primary" id="next-button" (click)="addCoins()">Collect coins!</button>
      </ng-container>
      <ng-template #failed>
        <h3 class="score">You failed, please get better :D.</h3>
        <button mat-flat-button color="primary" id="next-button" (click)="reloadTrivia()">Restart</button>
      </ng-template>
    </ng-template>
  </div>
  
    <!-- <img mat-card-image src="../assets/space-ship.gif" id="space-ship" /> -->